*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

main {
    flex: 1; /* Allow main to grow and push the footer down */
}


/* style */
:root {
    --text-dark: #16181A;
    --text-light: #FFF; 
    --brand-color1: #ffcc00; /*mustard yellow*/
    --brand-color2: #5F9EA0; /*dark mint green*/
    --brand-color2-5: #70b3b6; /*light mint green*/
    --brand-color3: #D3D3FF; /*lilac*/
    --brand-color3-8: #D3D3FFCC; /* lilac 80% opacity */
    --brand-color4: #E93DAD; /* hot pink */
    --text-color-dark: #16181a;

    --sds-typography-body-size-medium: 16px;
    --sds-typography-body-font-weight-regular: 400;
}

body{
background-color: #FFF;
font-family: "Inria Sans", sans-serif;
}

header{
    background-color: inherit;
}

.navButton {
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
}

.navButton:hover{
    border-radius: 0px 0px 20px 20px;
    background: var(--brand-color2-5, #70B3B6);
}

.navButton #active{
    border-radius: 0px 0px 20px 20px;
    background: #FFF;
    border-right: 2px solid var(--brand-color2, #5F9EA0);
    border-bottom: 2px solid var(--brand-color2, #5F9EA0);
    border-left: 2px solid var(--brand-color2, #5F9EA0);
}

header nav ul li a {
    color: var(--text-dark);
    font-size: var(--sds-typography-body-size-medium);
    text-decoration: none;
    font-weight: var(--sds-typography-body-font-weight-regular);
    line-height: 100%; /* 16px */
}

/* Layout */
body{
display: flex;
width: 100vw;
flex-direction: column;
align-items: center;
gap: 10px;
}

header {
    display: flex;
    padding: 0px 60px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

header nav ul{
    display: flex;
    align-items: center;
    gap: 21px;
}

.nav-button {
    display: flex;
    padding: 20px 16px;
    justify-content: center;
    align-items: center;
    gap: var(--sds-size-space-200);
    
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    width: clamp(300px, 100%, 1400px);
    min-height: 100vh;

}

.section-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px 80px;
    gap: 10px;
    font-size: 36px;
    font-weight: 700;
    background-color: var(--brand-color2);
    z-index: 1;
}

.dark {
    background-color: var(--background-dark-base, #16181A);
    color: var(--brand-color1, #FC0);
}

.section-header p {
    font-size: 12px;
}

.section-header.dark p {
    color: white;
}

.top-movies-wrapper {
    position: relative;
    display: flex;
    padding-top: 30px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 52px;
    background-color: white;
}

.top-movies-wrapper #featured {
    background: var(--background-dark-base, #16181A);
}

.movie-card-container {
    display: flex;
    height: 365px;
    padding-left: 20px;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
    width: fit-content;

}

.movie-card {
    position: relative; /* sets positioning context for children */
    display: flex;
    width: 254px;
    padding-bottom: 15px;
    align-items: center;
    gap: 10px;
    overflow: hidden;

    border-radius: 20px;
    background: #FFF;   
}

.movie-card:hover {
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-card .love-button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    width: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 999px;
    background: rgba(211, 211, 255, 0.50);
}

.movie-card:hover .love-button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.movie-card.loved .love-button {
    background: var(--brand-color3);
}

.movie-card.loved .love-button svg path {
    fill: var(--brand-color4);
    fill-opacity: 1;
}

.movie-card-content {
    display: flex;
    width: 254px;
    height: 452px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
}

.movie-card-content img { /* todo check if necessary? */
    width: 254px;
height: 351px;
flex-shrink: 0;
}



.movie-card-content h3 {
    display: flex;
    padding: 15px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    background: var(--brand-color1, #FC0);

    color: var(--text-dark, #16181A);
    font-size: 16px;
    font-weight: 700;
}

.movie-card-information-container {
    display: flex;
    padding-top: 10px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}

.movie-card-genres {
    font-size: 13px;
    font-weight: 400;
    width: 75%;
    height: 30px;
    text-align: center;
}

.cto-view-details {
    color: var(--brand-color2, #5F9EA0);
    font-size: 12px;
    font-weight: 700;
}


#top-movie-list {
    display: flex;
    padding: 40px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 52px;
    align-self: stretch;
}

#featured {
    background: var(--background-dark-base, #16181A);
}

.movie-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.movie-card-poster {
    width: 250px;
    height: 375px;
}

.movie-card-title {
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.rating-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.love-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.movie-card-overview,
.movie-card-release-date {
    display: none;
}

.hidden {
    display: block;
}

/***** MODAL *****/
.movie-modal {
    z-index: 100;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    width: 664px;
    flex-direction: column;
    align-items: center;

    overflow: hidden;

    /* style */
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid white;
    border-width: thick;
    background: #FFF;

}

.movie-modal-close {
    /* grid-area: movie-modal-close; */
    position: absolute;
    top: 16px;
    right: 16px;
    width: 28px;
    height: 28px;
    flex-shrink: 0;    

    /* style */
    cursor: pointer;
    background-color: var(--brand-color3);
    border: none;
    border-radius: 99px;
    opacity: 0.8;
}

.movie-modal-close:hover {
    background-color: var(--brand-color1);
}

.movie-modal-backdrop {
    grid-area: movie-modal-backdrop;
    width: 100%;
    height: 350px;
    flex-shrink: 0;

    /* style */
    background: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fstatic.booktopia.com.au%2Finternals%2F9781608871131-1.jpg&f=1&nofb=1&ipt=4d23876e259ed9df3db786251f55600226d8a5d7bfe4c38fef70b203ad7df282&ipo=images>) lightgray 50% / cover no-repeat;
}

/* rating container */
.rating-container {
    grid-area: rating-container;
    display: flex;
    padding: 15px 30px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;

    /* style */
    background: var(--brand-color3, #E6E6FA);
}

.rating-group {
    display: flex;
    align-items: center;
    font-style: normal;
    line-height: normal;
    gap: 8px;
    color: var(--text-dark);
}

.movie-modal-title-container {
    grid: movie-modal-title-container;
    display: flex;
    width: 737px;
    padding: 15px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 2;
    /* style */
    background: var(--background-dark-base, #16181A);
}

.movie-modal-title {
    color: var(--brand-color1, #FC0);
    text-align: center;
    font-size: 24px;
    font-weight: 700;

}

.movie-modal-rating, .star-icon {
    font-size: 26px;
    font-weight: 700;
    
}

.vote-count {
    font-size: 16px;
    font-weight: 300;
}


.love-button {
    display: flex;
    width: 44px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* style */
    border-radius: 999px;
    background: rgba(211, 211, 255, 0.50);
}

.information-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "movie-genres actors-section"
        "movie-modal-overview actors-section"
        "movie-modal-release-date actors-section"
        "movie-modal-links actors-section"
        "movie-modal-links actors-section";
    padding: 10px 30px 30px 30px;
    color: var(--text-dark);
    gap: 15px;
    flex: 1 0 0;
}

.movie-genres {
    font-size: 24px;
    font-weight: 200;
}

.movie-genres li {
    margin-right: 10px;
    display: inline;
}

.movie-modal-overview {
    font-size: 14px;
    font-weight: 400;
}

.movie-modal-release-date {
    font-size: 16px;
    font-weight: 300;
}

.movie-modal .information-container h4 {
    font-size: 16px;
}

.movie-modal-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.movie-modal-links li {
    list-style: none;
}

.movie-modal-links li a {
    color: var(--text-dark);
}

/* actor list section */
.movie-modal .actors-section {
    grid-area: actors-section;
    display: flex;
    padding: 12px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;

    /* style */
    border-radius: 20px;
    border: 2px solid var(--brand-color3, #E6E6FA);
}
.actor-list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

#page-title {
    padding: 3rem 1rem;
    color: white;
    text-align: center;
    font-size: 2.5rem;
}



/** UX Shape Dividers **/

 #background-image-wrapper {
    position: relative; /* Container for relative positioning */
    height: 200px;
    background: repeating-linear-gradient(
        135deg, /* Direction: 90 degrees creates vertical stripes */
        var(--brand-color2-5), /* First stripe color */
        var(--brand-color2-5) 50px, /* Stripe width */
        var(--brand-color2) 50px, /* Gap between stripes (starts second color) */
        var(--brand-color2) 100px /* Total stripe width (alternates back to first color) */
    );
}

#background-image img {
    display: block; /* Ensure no unexpected spacing issues */
    width: 100%; /* Cover full width */
    height: auto;
    z-index: 0; /* Place image below divider */
}

.ux-shape-divider {
    position: fixed; /* Position relative to #background-image-wrapper */
    left: 0; /* Align to the left */
    z-index: 1; /* Ensure it's on top of the scrolling cards */
    bottom: 0;
    width: 100%; /* Match image width */
    z-index: 1; /* Ensure it's on top of the image */
    line-height: 0; /* Remove line height spacing */
    pointer-events: none;
}

.movie-modal .ux-shape-divider {
    top: 300px; /* Stick to the bottom of the image */
}

.top-movies-wrapper#featured .ux-shape-divider {
    position: relative; /* Position relative to #background-image-wrapper */
    top: clamp(470px, 100%, 480px);
    z-index: 0;
}

.ux-shape-divider .dark {
    fill: var(--text-color-dark);
}

.ux-shape-divider svg {
    width: 100%; /* Ensure SVG stretches across the container */
    height: auto;
}

.ux-shape-fill {
    fill: #fff; /* Adjust color to match your design */
}


footer {

    position: relative;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    gap: 20px;

    padding: 40px;

    background-color: var(--brand-color1);
    color: var(--text-dark);
}   

footer p {
    text-align: center;
}

.footer-content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "footer-tagline footer-tagline"
    "footer-contact footer-links"
    "footer-contact footer-newsletter"
    ;

}

.footer-bottom, .footer-newsletter, .footer-content *{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.footer-tagline {
    grid-area: footer-tagline;
}

.footer-contact {
    grid-area: footer-contact;
}

.footer-links {
    grid-area: footer-links;
}

.footer-newsletter {
    grid-area: footer-newsletter;
}

.footer-social {
    grid-area: footer-social;
}

.footer-bottom {

    text-align: center;
}



/* Debugging start */
/* header {
    border: 2px solid red;
}

main {
    border: 2px solid blue;
} */